@font-face {
    font-family: code;
    src: url("./SegoeUIThis.ttf");
}

body {
    background-color: rgb(43, 43, 43);
    font-family: code;
}

div {
    background-color: rgb(61, 61, 61);
    color: white;
}


p {
    font-size: 20px;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(0, 0);
    padding: 10px;
    color: black;
    z-index: 1000;
}

span {
    white-space: nowrap;
    display: inline;
}